<!DOCTYPE html>
<html>
  <head>
    <title>Hello Sinatra</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
